.search-element {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  min-width: 35rem;
  max-width: 45rem;
}

input[type="search"] {
  font-family: inherit;
  font-size: 1.5em;
  text-align: center;

  ::placeholder {
    text-align: center;
  }

  ::-webkit-input-placeholder {
    text-align: center;
  }

  :-moz-placeholder {
    text-align: center;
  }

  ::-moz-placeholder {
    text-align: center;
  }

  :-ms-input-placeholder {
    text-align: center;
  }
}
